---
layout: default
---
<div class="primary">
    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <div class="post-header-wrap">
                {% if post.image %}
                <a href="{{site.baseurl}}{{post.url}}" class="post-thumbnail"><img
                        src="{{ post.image | prepend: site.baseurl }}"
                        alt="{% if post.image_alt %}{{ post.image_alt }}{% else %}{{ post.title }} {% endif %}"></a>
                {% endif %}
                <h2 class="post-title outer"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{post.title}}</a></h2>
            </div>
            <div class="post-meta outer">
                by <span class="post-author">{{ site.author_name }}</span> on <time class="published"
                    datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time>
            </div>
        </header><!-- .post-header -->
        <div class="post-content inner-small outer">
            {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
            {% else %}
            {{ post.content }}
            {% endif %}
            <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read more</a></p>
        </div><!-- .post-content -->
        {% if post.tags.size > 0 %}
        <footer class="post-footer inner-small outer">
            <div class="post-tags">
                <span>Tags:</span>
                {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}" rel="tag">{{ tag }}</a>{% endfor %}
            </div>
        </footer><!-- .post-footer -->
        {% endif %}
    </article><!-- .post -->
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <nav class="pagination">
        <h2 class="screen-reader-text">Posts navigation</h2>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
            class="newer-posts button button-icon button-fill-horz">{% include icons/chevron-left.html %}<span class="screen-reader-text">Newer Posts</span></a>
        {% endif %}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"
            class="older-posts button button-icon button-fill-horz"><span class="screen-reader-text">Older Posts</span>{% include icons/chevron-right.html %}</a>
        {% endif %}
    </nav><!-- .pagination -->
    {% endif %}
</div><!-- .primary -->

{% include sidebar.html %}
