<footer class="site-footer outer">
    <div class="inner">
        <div class="social-links">
            {% if site.twitter_url %}
            <a href="{{ site.twitter_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">Twitter</span>{% include icons/twitter.html %}</a>
            {% endif %}
            {% if site.facebook_url %}
            <a href="{{ site.facebook_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">Facebook</span>{% include icons/facebook.html %}</a>
            {% endif %}
            {% if site.github_url %}
            <a href="{{ site.github_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">GitHub</span>{% include icons/github.html %}</a>
            {% endif %}
            {% if site.codepen_url %}
            <a href="{{ site.codepen_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">CodePen</span>{% include icons/codepen.html %}</a>
            {% endif %}
            {% if site.dribbble_url %}
            <a href="{{ site.dribbble_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">Dribbble</span>{% include icons/dribbble.html %}</a>
            {% endif %}
            {% if site.medium_url %}
            <a href="{{ site.medium_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">Medium</span>{% include icons/medium.html %}</a>
            {% endif %}
            {% if site.instagram_url %}
            <a href="{{ site.instagram_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">Instagram</span>{% include icons/instagram.html %}</a>
            {% endif %}
            {% if site.pinterest_url %}
            <a href="{{ site.pinterest_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">Pinterest</span>{% include icons/pinterest.html %}</a>
            {% endif %}
            {% if site.linkedin_url %}
            <a href="{{ site.linkedin_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">LinkedIn</span>{% include icons/linkedin.html %}</a>
            {% endif %}
            {% if site.weibo_url %}
            <a href="{{ site.weibo_url }}" class="button button-icon button-fill-horz" target="_blank"
                rel="noopener"><span class="screen-reader-text">Weibo</span>{% include icons/weibo.html %}</a>
            {% endif %}
            <a href="{{ site.baseurl }}/feed.xml" class="button button-icon button-fill-horz"><span
                    class="screen-reader-text">RSS</span>{% include icons/rss.html %}</a>
        </div><!-- .social-links -->
        <div class="site-info">
            <div class="copyright">
                &copy; <a href="{{ site.baseurl }}/">{{site.title}}</a> all rights reserved. <br />Powered by <a
                href="https://jekyllrb.com/" target="_blank" rel="noopener">Jekyll</a>. BlogInn theme by <a
                href="https://justgoodthemes.com/" target="_blank" rel="noopener">JustGoodThemes</a>
                <br/><a href="{{site.baseurl}}/legal.html" rel="noopener">Legal Notice</a>
            </div>
            <a href="#top" id="js-top-link" class="top-link button button-icon button-fill-horz"><span class="screen-reader-text">Back to the top</span>{% include icons/chevron-up.html %}</a>
        </div><!-- .site-info -->
    </div><!-- .inner -->
</footer><!-- .site-footer -->
