<div class="comments-area">
    <div class="inner-small outer">
        <h2 class="comments-title line-accent">Comments</h2>
        <script src="https://utteranc.es/client.js"
            repo="{{ site.utterances }}"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://utteranc.es">comments powered by utterances</a>.</noscript>
    </div><!-- .inner-small -->
</div><!-- .comments-area -->
