---
layout: default
---
<div class="primary">
    <article class="post">
        <header class="post-header">
            <div class="post-header-wrap">
                {% if page.image %}
                <div class="post-thumbnail">
                    <img src="{{ "/images/" | append: page.image | prepend: site.baseurl }}" alt="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ page.title }}{% endif %}">
                </div>
                {% endif %}
                <h1 class="post-title outer">{{page.title}}</h1>
            </div>
        </header><!-- .post-header -->
        <div class="post-content inner-small outer">
            {{content}}
        </div><!-- .post-content -->
    </article><!-- .post -->
</div><!-- .primary -->

{% include sidebar.html %}
