---
layout: default
---
<div class="primary">
    <article class="post post-full">
        <header class="post-header">
            <div class="post-header-wrap">
                {% if page.image %}
                <div class="post-thumbnail">
                    <img src="{{ page.image | prepend: site.baseurl }}"
                        alt="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ page.title }}{% endif %}">
                </div>
                {% endif %}
                <h1 class="post-title outer">{{page.title}}</h1>
            </div>
            <div class="post-meta outer">
                by <span class="post-author">{{site.author_name}}</span> on <time class="published" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
            </div>
        </header><!-- .post-header -->
        <div class="post-content inner-small outer">
            {{content}}
        </div><!-- .post-content -->
        <footer class="post-footer inner-small outer">
            <div class="post-share">
                <span>Share:</span>
                <a class="button button-icon button-fill-horz"
                    href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ site.url }}{{ page.url }}"
                    target="_blank" rel="noopener">{% include icons/twitter.html %}<span
                        class="screen-reader-text">Share on Twitter</span></a>
                <a class="button button-icon button-fill-horz"
                    href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;t={{ page.title | uri_escape }}"
                    target="_blank" rel="noopener">{% include icons/facebook.html %}<span
                        class="screen-reader-text">Share on Facebook</span></a>
            </div>
            {% if page.tags.size > 0 %}
            <div class="post-tags">
                <span>Tags:</span>
                {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}" rel="tag">{{ tag }}</a>{% endfor %}
            </div>
            {% endif %}
        </footer><!-- .post-footer -->
    </article><!-- .post -->
    <div class="author-box outer">
        <div class="inner-small">
            <div class="author-info">
                <div class="author-avatar" style="background-image: url({{ site.author_image }})">
                    <span class="screen-reader-text">{{ site.author_name }}'s Picture</span>
                </div>
                <div class="author-details">
                    <h2 class="author-title line-accent">About {{ site.author_name }}</h2>
                    <p class="author-bio">{{ site.author_bio }}</p>
                    {% if site.author_location or site.author_url %}
                    <p class="author-links">
                        <span class="author-location">{% include icons/map-pin.html %} {{ site.author_location }}</span>
                        <span class="author-website">{% include icons/link.html %} <a href="{{ site.author_url }}" target="_blank" rel="noopener"> {{ site.author_url }}</a></span>
                    </p>
                    {% endif %}
                </div>
            </div><!-- .author-info -->
        </div><!-- .inner-small -->
    </div><!-- .author-box -->
    <nav class="post-navigation">
        <h2 class="screen-reader-text">Read Next</h2>
        {% if page.previous.url %}
        <div class="nav-previous">
            <div class="nav-inside inner-small outer">
                {% if page.previous.image %}
                <a href="{{ site.baseurl }}{{page.previous.url}}" class="nav-thumb"
                    style="background-image: url({{ page.previous.image }})"></a>
                {% endif %}
                <div class="nav-before">Previous</div>
                <h3 class="nav-title"><a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a>
                </h3>
                <div class="nav-date">{{page.previous.date | date: "%B %-d, %Y"}}</div>
            </div><!-- .nav-inside -->
        </div><!-- .nav-previous -->
        {% endif %}
        {% if page.next.url %}
        <div class="nav-next">
            <div class="nav-inside inner-small outer">
                {% if page.next.image %}
                <a href="{{ site.baseurl }}{{page.next.url}}" class="nav-thumb"
                    style="background-image: url({{ page.next.image }})"></a>
                {% endif %}
                <div class="nav-before">Next</div>
                <h3 class="nav-title"><a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></h3>
                <div class="nav-date">{{page.next.date | date: "%B %-d, %Y"}}</div>
            </div><!-- .nav-inside -->
        </div><!-- .nav-next -->
        {% endif %}
    </nav><!-- .post-navigation -->

    {% if site.disqus %}
    {% include disqus.html %}
    {% endif %}
    {% if site.utterances %}
    {% include utterances.html %}
    {% endif %}

</div><!-- .primary -->

{% include sidebar.html %}
